<div *ngIf="warningOn" class="pad-50t pad-10l" style="width:100%; align-content:center; background-color:#efd9abb0; height: 100vh;"><h4>{{warning}}</h4>
</div>

<div class="background" *ngIf="start">
    <div style="width: 100%;" class="flex-centr pad-50t">
        <h5 style="color: red;">{{gameStartErrorText}}</h5>
    </div>
    <div *ngIf="teamModeOn" tyle="width: 100%;" class="flex-centr">
        <div class="startBoxHor" style="padding: 20px;">
                
                <h4 style="text-align: center;">TEAM 1</h4>
                <div class="startBoxHor2">
                    <p class="font-5">SPIELER 1</p>
                    <input type="text" class="input1 font-5" [(ngModel)]="spieler1Name">
                </div>
                <div class="startBoxHor2">
                    <p class="font-5">SPIELER 2</p>
                    <input type="text" class="input1 font-5" [(ngModel)]="spieler2Name">
                </div>
                <div class="startBoxHor2">
                    <p class="font-5">SPIELER 3</p>
                    <input type="text" class="input1 font-5" [(ngModel)]="spieler3Name">
                </div>
        </div>
    </div>
    <div *ngIf="teamModeOn" style="width: 100%;" class="flex-centr">
        <div class="startBoxHor" style="padding: 20px;">               
            <h4 style="text-align: center;">TEAM 2</h4>
            <div class="startBoxHor2">
                <p class="font-5">SPIELER 1</p>
                <input type="text" class="input1 font-5" [(ngModel)]="spieler4Name">
            </div>
            <div class="startBoxHor2">
                <p class="font-5">SPIELER 2</p>
                <input type="text" class="input1 font-5" [(ngModel)]="spieler5Name">
            </div>
            <div class="startBoxHor2">
                <p class="font-5">SPIELER 3</p>
                <input type="text" class="input1 font-5" [(ngModel)]="spieler6Name">
            </div>
    </div>
    </div>
    <div *ngIf="!teamModeOn" style="width: 100%;" class="flex-centr">
        <div class="startBoxHor" style="padding: 20px; height: 405px;">               
            <div class="startBoxHor2">
                <p class="font-5">SPIELER 1</p>
                <input type="text" class="input1 font-5" [(ngModel)]="spieler1Name">
            </div>
            <div class="startBoxHor2">
                <p class="font-5">SPIELER 2</p>
                <input type="text" class="input1 font-5" [(ngModel)]="spieler2Name">
            </div>
            <div *ngIf="this.anzahlPlayers>2"  class="startBoxHor2">
                <p class="font-5">SPIELER 3</p>
                <input type="text" class="input1 font-5" [(ngModel)]="spieler3Name">
            </div>
            <div *ngIf="this.anzahlPlayers>3"  class="startBoxHor2">
                <p class="font-5">SPIELER 4</p>
                <input type="text" class="input1 font-5" [(ngModel)]="spieler4Name">
            </div>
            <div *ngIf="this.anzahlPlayers>4"  class="startBoxHor2">
                <p class="font-5">SPIELER 5</p>
                <input type="text" class="input1 font-5" [(ngModel)]="spieler5Name">
            </div>
            <div *ngIf="this.anzahlPlayers>5"  class="startBoxHor2">
                <p class="font-5">SPIELER 6</p>
                <input type="text" class="input1 font-5" [(ngModel)]="spieler6Name">
            </div>
        </div>
    </div>
    <div *ngIf="!teamModeOn" style="width: 100%; align-items: center; justify-content: center;" class="flex-centr">
        <div class="button1QuarterStart" style="margin-top: 50px; height: 73px;">
                <p class="font-5 ">Anzahl der Spieler:</p>
        </div>  
        <div class="button1QuarterStart" style="margin-top: 50px; height: 73px;">   
                <p class="font-5" style="color: orangered;">{{anzahlPlayers}}</p>
        </div> 
        <button style="height: 73px;" class="marg-50t font-5 button1QuarterStart" (click)="anzahlPlayersPl()">+</button>
        <button style="height: 73px;" class="marg-50t font-5 button1QuarterStart" (click)="anzahlPlayersMin()">-</button>
    </div>
    <div style="width: 100%; align-items: center; justify-content: center;" class="flex-centr">
        <button class="marg-50t font-5 button1HalfStart" (click)="teamMode()">{{teamModeText}}</button>
        <button class="marg-50t font-5 button1HalfStart" (click)="startGame()">START</button>
    </div>
</div>
		




        





        
        <div class="background" *ngIf="play">
			<div class="flex-evenly pad-50t" style="height: 825px;">
                <div class="foot margAll-15 playBox">
                    <h4>Nachrichten Our City</h4>
                    <div class="day marg-10t" *ngIf="day">
                        <p class="font-5" style="text-align: right; padding: 15px;">Tag  {{dayHour}}:{{dayMinute}}0</p>
                    </div>
                    <div class="night marg-10t" *ngIf="night">
                        <p class="font-4" style="text-align: right; padding: 15px">Nacht  {{nightHour}}:{{nightMinute}}0</p>
                    </div>
                        <div style="width: 100%;" class="marg-50t"> 
                            <p class="font-5">{{weatherP}}</p>
                            <div class="marg-10t" 
                            [ngClass]="weatherStatusp">
                            </div>
                        </div>
                        <h4 class="marg-50t">{{infoH}}</h4>
                        <p class="font-5">{{infoP}}</p>
                    <div class="marg-10t"
                    [ngClass]="infoStartup">
                    </div>
                </div>
                <div class="foot flex-col-evenly margAll-15 playBox"> 
                    <div class="ampelon" *ngIf="ampel<0.5">
                        <p class="font-5 marg-50t marg-100l" style="text-align: right;vertical-align: middle; width: 200px;">Weg frei. <br> Fahr vorsichtig!</p>
                    </div>
                    <div class="ampeloff" *ngIf="ampel>0.5">
                        <p class="font-5 marg-50t marg-100l" style="text-align: right;vertical-align: middle; width: 200px;">Für alle Autos und E-Scooter: <br> <br> Our City <br> steht auf Rot.</p>
                    </div>
                    <div class="playBox2">
                        <h4>ANGEBOT</h4>
                        <p class="font-5"> <span style="color: orangered;">{{turn}}, </span>{{nachrichtP}}</p>
                        <p class="font-5">Dafür hast du noch {{nachrichtBleibt}} Züge</p>
                        <div class="flex marg-10t">
                            <button class="font-3 buttonAngebot" (click)="ablehnen()">Ablehnen</button>
                            <button class="font-3 buttonAngebot">In Bearbeitung</button>
                            <button class="font-3 buttonAngebot" (click)="erledigt()">Erledigt</button>
                        </div>
                    </div>
                    <div class="Playbox flex-centr">
                        <button (click)="fahrzeugeOn(0)" class="buttonAngebot fahrzeug1"></button>
                        <button (click)="fahrzeugeOn(1)" class="buttonAngebot fahrzeug1 fahrzeug2"></button>
                        <button (click)="fahrzeugeOn(2)" class="buttonAngebot fahrzeug1 fahrzeug3"></button>
                        <button (click)="fahrzeugeOn(3)" class="buttonAngebot fahrzeug1 fahrzeug4"></button>
                        <button (click)="fahrzeugeOn(4)" class="buttonAngebot fahrzeug1 fahrzeug5"></button>
                        <button (click)="fahrzeugeOn(5)" class="buttonAngebot fahrzeug1 fahrzeug6"></button>
                    </div>
                    <div class="Playbox">
                        <p class="font-5">Bewegungsmittel: <span style="color: orange;">{{fahrzeugname}} </span></p>
                        <p class="font-5">Würfel: <span style="color: orange;">{{fahrzeugwuerfel}}</span></p>
                        <p class="font-5">Kosten: <span style="color: orange;">{{fahrzeugKosten}} CO2</span></p>
                    </div>
                    <div class="flex marg-10t">
                        <div class="font-3 buttonAngebot">
                            <p class="font-3">
                                Missionspunkte <br> hinzufügen
                            </p>
                        </div>
                        <input type="number" class="font-3 buttonAngebot" [(ngModel)]="missionspunkteZahl">
                        <button class="font-3 buttonAngebot" (click)="missionspunkteAdd()">BESTÄTIGEN</button>
                    </div>
                    <button class=" buttonWeiter font-5" (click)="weiter()">Weiter</button>
                </div>
            </div>
            <div class="flex">
                <div class="foot flex-evenly marg-15">
                    
                    <div *ngIf="teamModeOn" class="flex-start marg-15">
                        <div class="flex-start">
                            <div class="flex-col">
                                <p class="font-5 margAll-15">{{EmissionsStandG1}}</p>
                                <div class="margAll-15 chartH117">
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1R" *ngIf="EmissionsStandG1>675"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1R" *ngIf="EmissionsStandG1>600"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1R" *ngIf="EmissionsStandG1>525"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1R" *ngIf="EmissionsStandG1>450"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1Y" *ngIf="EmissionsStandG1>375"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1Y" *ngIf="EmissionsStandG1>300"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1Y" *ngIf="EmissionsStandG1>225"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1G" *ngIf="EmissionsStandG1>150"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1G" *ngIf="EmissionsStandG1>75"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1G" *ngIf="EmissionsStandG1>0"></div>
                                </div>
                                <p class="font-5 margAll-15">Team 1</p>
                            </div>
                            <div class="flex-col-evenly">
                              
                            </div>
                        </div>
                        <div class="flex-start">
                            <div class="flex-col">
                                <p class="font-5 margAll-15">{{EmissionsStandG2}}</p>
                                <div class="margAll-15 chartH117">
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1R" *ngIf="EmissionsStandG2>675"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1R" *ngIf="EmissionsStandG2>600"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1R" *ngIf="EmissionsStandG2>525"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1R" *ngIf="EmissionsStandG2>450"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1Y" *ngIf="EmissionsStandG2>375"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1Y" *ngIf="EmissionsStandG2>300"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1Y" *ngIf="EmissionsStandG2>225"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1G" *ngIf="EmissionsStandG2>150"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1G" *ngIf="EmissionsStandG2>75"></div>
                                    <div style="background-color: rgb(85, 79, 79);" class="chart1G" *ngIf="EmissionsStandG2>0"></div>
                                </div>
                                <p class="font-5 margAll-15">Team 2</p>
                            </div>
                            <div class="flex-col-evenly">
                      
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div *ngIf="teamModeOn" class="foot flex playBox">
                    <div class="flex-col-evenly border">
                        <h4>Team1</h4>
                        <div>
                            <p class="font-5" style="color:orangered" >{{spieler1Name}}</p>
                            <p class="font-3">Missionspunkte: <span style="color:orange"> {{umweltVer[0]}}</span></p>
                            <p class="font-3">CO2 Verbrauch: <span style="color: orangered;"> {{CO2[0]}}</span></p>
                        </div>
                        <div>
                            <p class="font-5" style="color:orangered" >{{spieler2Name}}</p>
                            <p class="font-3">Missionspunkte: <span style="color:orange"> {{umweltVer[1]}}</span></p>
                            <p class="font-3">CO2 Verbrauch: <span style="color: orangered;"> {{CO2[1]}}</span></p>
                        </div>
                        <div *ngIf="player6Mode">
                            <p class="font-5" style="color: orangered;">{{spieler3Name}}</p>
                            <p class="font-3">Missionspunkte: <span style="color:orange"> {{umweltVer[2]}}</span></p>
                            <p class="font-3">CO2 Verbrauch: <span style="color: orangered;"> {{CO2[2]}}</span></p>
                        </div>
                    </div>
                    <div class="flex-col-evenly">
                        <h4>Team2</h4>
                        <div>
                            <p class="font-5" style="color:orangered" >{{spieler4Name}}</p>
                            <p class="font-3">Missionspunkte: <span style="color:orange"> {{umweltVer[3]}}</span></p>
                            <p class="font-3">CO2 Verbrauch: <span style="color: orangered;"> {{CO2[3]}}</span></p>
                        </div>
                        <div>
                            <p class="font-5" style="color:orangered" >{{spieler5Name}}</p>
                            <p class="font-3">Missionspunkte: <span style="color:orange"> {{umweltVer[4]}}</span></p>
                            <p class="font-3">CO2 Verbrauch: <span style="color: orangered;"> {{CO2[4]}}</span></p>
                        </div>
                        <div *ngIf="player6Mode">
                            <p *ngIf="player6Mode"  class="font-5" style="color:orangered" >{{spieler6Name}}</p>
                            <p class="font-3">Missionspunkte: <span style="color:orange"> {{umweltVer[5]}}</span></p>
                            <p class="font-3">CO2 Verbrauch: <span style="color: orangered;"> {{CO2[5]}}</span></p>
                        </div>
                    </div>
                    <div class="flex-col-evenly"></div>
                </div>
                <div *ngIf="!teamModeOn" class="foot flex playBox">
                    <div class="flex-col-evenly border">
                        <div>
                            <p class="font-5" style="color:orangered" >{{spieler1Name}}</p>
                            <p class="font-3">Missionspunkte: <span style="color:orange"> {{umweltVer[0]}}</span></p>
                            <p class="font-3">CO2 Verbrauch: <span style="color: orangered;"> {{CO2[0]}}</span></p>
                        </div>
                        <div *ngIf="this.anzahlPlayers>2">
                            <p class="font-5" style="color:orangered" >{{spieler3Name}}</p>
                            <p class="font-3">Missionspunkte: <span style="color:orange"> {{umweltVer[1]}}</span></p>
                            <p class="font-3">CO2 Verbrauch: <span style="color: orangered;"> {{CO2[1]}}</span></p>
                        </div>
                        <div *ngIf="this.anzahlPlayers>4">
                            <p class="font-5" style="color:orangered" >{{spieler5Name}}</p>
                            <p  class="font-3">Missionspunkte: <span style="color:orange"> {{umweltVer[2]}}</span></p>
                            <p class="font-3">CO2 Verbrauch: <span style="color: orangered;"> {{CO2[2]}}</span></p>
                        </div>
                    </div>
                    <div class="flex-col-evenly">
                        <div>
                            <p class="font-5" style="color:orangered" >{{spieler2Name}}</p>
                            <p class="font-3">Missionspunkte: <span style="color:orange"> {{umweltVer[3]}}</span></p>
                            <p class="font-3">CO2 Verbrauch: <span style="color: orangered;"> {{CO2[3]}}</span></p>
                        </div>
                        <div *ngIf="this.anzahlPlayers>3">
                            <p class="font-5" style="color:orangered" >{{spieler4Name}}</p>
                            <p class="font-3">Missionspunkte: <span style="color:orange"> {{umweltVer[4]}}</span></p>
                            <p class="font-3">CO2 Verbrauch: <span style="color: orangered;"> {{CO2[4]}}</span></p>
                        </div>
                        <div *ngIf="this.anzahlPlayers>5">
                            <p class="font-5" style="color:orangered" >{{spieler6Name}}</p>
                            <p  class="font-3">Missionspunkte: <span style="color:orange"> {{umweltVer[5]}}</span></p>
                            <p class="font-3">CO2 Verbrauch: <span style="color: orangered;"> {{CO2[5]}}</span></p>
                        </div>
                    </div>
                    <div class="flex-col-evenly"></div>
                </div>
                
            </div>
		</div>		
